.container.entry-content {
	max-width: 1000px;
}

code,kbd,samp,var {
    font-size: .8em
}

/* Standalone <pre> chunks */
pre {
	/* Monokai background */
	background-color: #23241f;
	color: #f8f8f2;
	padding: 0.5em;
}

/* <pre> word-wrap */
pre {
	width: 1000px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
}
